.container-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
  background-color: #e5e7eb;


    h1 {
      font-size: 2.25rem;
      font-weight: bold;
      color: #000000;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.125rem;
      color: #4b5563;
    }
  
}
