@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
}

/*General Variables*/
$color-first: #5271ff;
$color-second: #f26d3d;
$color-third: #f25ea3;

.primary-color-class {
  background-color: $color-first;
}

.secondary-color-class {
  background-color: $color-second;
}

.third-color-class {
  background-color: $color-third;
}

.primary-stroke-class {
  stroke: $color-first;
}

.secondary-stroke-class {
  stroke: $color-second;
}

.third-stroke-class {
  stroke: $color-third;
}
/*Modo oscuro*/

.dark p,
.dark h1,
.dark h3,
.dark h4,
.dark table,
.dark .home h2,
.dark ul li,
.dark ul li a,
.dark ul a svg,
.dark ul a span,
.dark .create-service h2,
.dark .created-services h2, // Applied services & Created Services.
.dark .liked-services h2,
.dark .settings h2 ,
.dark .user-set-modal input {
  color: #eee;
}

.dark .login-container h2 {
  color: #000;
}

.dark .settings svg {
  stroke: #eee;
}

.dark {
  .card {
    background-color: #232323;
    box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.539);
  }

  > div,
  panel-control div:last-child {
    background-color: #1c1c1c;
  }
}

/*This is for preventing the chat button to hace a backaround beacause a bug*/
#hubspot-messages-iframe-container {
  background-color: transparent !important;
  color-scheme: light !important ;
  z-index: 40 !important;
}

/*Animación Corazón*/
.ui-like {
  --icon-size: 24px;
  --icon-secondary-color: rgb(183, 176, 176);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }

  .like {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    ::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
      box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
      border-radius: 50%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }

    ::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: var(--icon-circle-border);
      opacity: 0;
    }
  }

  /* actions */
  :hover .like {
    fill: var(--icon-hover-color);
  }

  input:checked {
    + .like::after {
      -webkit-animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      -webkit-animation-delay: var(--icon-anmt-duration);
      animation-delay: var(--icon-anmt-duration);
    }

    + .like {
      fill: var(--icon-primary-color);
      -webkit-animation: like var(--icon-anmt-duration) forwards;
      animation: like var(--icon-anmt-duration) forwards;
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }

    + .like::before {
      -webkit-animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      -webkit-animation-delay: var(--icon-anmt-duration);
      animation-delay: var(--icon-anmt-duration);
    }
  }
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

/*FEELANCER SPAN ANIMATION */

.freelancer-span {
  background: linear-gradient(
    to right,
    $color-first 10%,
    $color-third 50%,
    $color-second 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
